@font-face {
    font-family: 'Game of Thrones KG';
    src: url('../fonts/GameofThronesKG/GameofThronesKG.woff2') format('woff2'),
        url('../fonts/GameofThronesKG/GameofThronesKG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

